<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comercial.titulo}">Comerciales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div id="contenedora" class="container my-4">
    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <h1 th:text="#{comercial.titulo}">Comerciales</h1>
        </div>

        <div class="col-md-6 text-md-right">
            <form action="/comercial/crear">
                <button type="submit" class="btn btn-primary" th:text="#{boton.crear}">Crear</button>
            </form>
        </div>
        <div class="col-md-12 text-md-right">
            <form action="/">
                <button type="submit" class="btn btn-primary" th:text="#{boton.volver}">Volver</button>
            </form>
        </div>
    </div>

    <hr/>
    <div class="row">
        <span class="col-1"><strong th:text="#{comercial.id}">Id</strong></span>
        <span class="col text-center"><strong th:text="#{comercial.nombre}">Nombre</strong></span>
        <span class="col text-center"><strong th:text="#{comercial.apellido1}">Apellido1</strong></span>
        <span class="col text-center"><strong th:text="#{comercial.apellido2}">Apellido2</strong></span>
        <span class="col text-center"><strong th:text="#{comercial.comision}">Comisión</strong></span>
        <span class="col"><strong th:text="#{comercial.accion}">Acción</strong></span>
    </div>
    <hr/>

    <div class="row" th:each="comercial : ${listaComercial}">
        <span class="col-1" th:text="${comercial.id}">0</span>
        <span class="col text-center" th:text="${comercial.nombre}">nombre</span>
        <span class="col text-center" th:text="${comercial.apellido1}">apellido1</span>
        <span class="col text-center" th:utext="${comercial.apellido2 != null ? comercial.apellido2 : '&nbsp;'}">apellido2</span>
        <span class="col text-center" th:text="${comercial.comision}">comision</span>
        <span class="col">
            <div class="btn-group d-flex justify-content-around" role="group">
                <form class="d-inline" th:action="@{/comercial/detalles/__${comercial.id}__}">
                    <button type="submit" class="btn btn-info btn-sm" th:text="#{boton.detalle}">Detalle</button>
                </form>
                <form class="d-inline" th:action="@{/comercial/editar/__${comercial.id}__}">
                    <button type="submit" class="btn btn-success btn-sm" th:text="#{boton.editar}">Editar</button>
                </form>
                <form class="d-inline" th:action="@{/comercial/borrar/__${comercial.id}__}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm" th:text="#{boton.eliminar}">Eliminar</button>
                </form>
            </div>
        </span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
