<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comercial.detalle.titulo}">Detalle Comercial</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
    </style>
</head>
<body>
<div id="contenedora" style="float:none; margin: 0 auto;width: 95%;">
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1 th:text="#{comercial.detalle.titulo}">Detalle Comercial</h1>
        </div>
        <div style="float: none;width: auto;overflow: hidden;min-height: 80px;position: relative;">
            <div style="position: absolute; left: 39%; top : 39%;">
                <form th:action="@{/comerciales/editar/${comercial.id}}" method="get">
                    <input type="submit" th:value="#{comercial.editar}"/>
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <hr/>
    </div>

    <div th:if="${comercial != null}" class="clearfix">
        <div style="float: left;width: 20%" th:text="#{comercial.id}">Id:</div>
        <div style="float: left;width: 20%" th:text="${comercial.id}">0</div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 20%" th:text="#{comercial.nombre}">Nombre:</div>
        <div style="float: left;width: 20%" th:text="${comercial.nombre}">Nombre</div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 20%" th:text="#{comercial.apellido1}">Apellido1:</div>
        <div style="float: left;width: 20%" th:text="${comercial.apellido1}">Apellido1</div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 20%" th:text="#{comercial.apellido2}">Apellido2:</div>
        <div style="float: left;width: 20%" th:text="${comercial.apellido2 ?: '&nbsp;'}">Apellido2</div>
    </div>
    <div class="clearfix">
        <div style="float: left;width: 20%" th:text="#{comercial.comision}">Comisión:</div>
        <div style="float: left;width: 20%" th:text="${comercial.comision}">Comisión</div>
    </div>

    <div class="clearfix">
        <hr/>
    </div>

    <div th:if="${comercial.pedidos != null}">
        <h3 th:text="#{comercial.pedidos.titulo}">Pedidos</h3>
        <div th:each="pedido : ${comercial.pedidos}">
            <div class="clearfix">
                <div style="float: left;width: 20%" th:text="#{pedido.id}">Id</div>
                <div style="float: left;width: 20%" th:text="${pedido.id}">0</div>
            </div>
            <div class="clearfix">
                <div style="float: left;width: 20%" th:text="#{pedido.fecha}">Fecha</div>
                <div style="float: left;width: 20%" th:text="${pedido.fecha}">Fecha</div>
            </div>
            <div class="clearfix">
                <div style="float: left;width: 20%" th:text="#{pedido.monto}">Monto</div>
                <div style="float: left;width: 20%" th:text="${pedido.monto}">Monto</div>
            </div>
            <hr/>
        </div>
    </div>
</div>
</body>
</html>
